<h1> Sobre mim</h1>

<p> Nome: Fabio Saito <p>
<p> Graduação: Engenharia Elétrica com Ênfase em Computação <p>
<p> Localização: São Paulo - Pinheiros <p>

<p> Experiencia prévia: <p>
<ul> 
  <li> <a> Analista de Suporte ao Desenvolvimento </a> </li>
  <li> <a> Middle Office de um fundo de investimentos </a> </li>
  <li> <a> Desenvolvedor Front-End </a> </li>
</ul>

<p> Valores: <p>
<ul> 
  <li> <a> Sinceridade </a> </li>
  <li> <a> Pragmatismo </a> </li>
  <li> <a> Comprometimento </a> </li>
</ul>

<p> Hobbies: <p>
<ul> 
  <li> <a> Academia </a> </li>
  <li> <a> Leitura </a> </li>
</ul>
