<h1> Formação Acadêmica </h1>

<p> Poli-USP </p>
<p> Finalizando o Curso de Engenharia Elétrica com Ênfase em Computação </p>

<h2> Projeto de Formatura </h2>
<p> Assistente Virtual para Consumo de Energia </p>
<p> O foco do projeto foi desenvolver um assistente que pudesse
interagir com o usuário de forma a transmitir de forma fácil
e lúdica as informações mais pertinentes ao consumo de energia elétrica. </p>
<p> Também estudou-se algoritmos para analisar o histórico de 
consumo e gerar previsões para os gastos futuros. </p>
