<h1> Lista com as Pull Requests </h1>
<h2> Log Parser </h2>
<ul>
  <li><a href="https://github.com/FabioSaito/log-parser/pull/1" title="Tarefa-1"> Tarefa 1 </li>
  <li><a href="https://github.com/FabioSaito/log-parser/pull/2" title="Tarefa-2"> Tarefa 2 </li>
  <li><a href="https://github.com/FabioSaito/log-parser/pull/3" title="Tarefa-3"> Tarefa 3 </li>
  <li><a href="https://github.com/FabioSaito/log-parser/pull/5" title="Tarefa-4"> Tarefa 4 </li>
  <li><a href="https://github.com/FabioSaito/log-parser/pull/4" title="Rubocop-SimpleCov"> Rubocop-SimpleCov </li>
</ul>
